# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: bc607db0d2cc1da98a932a56aa6db634d4c30befd192e04b43321b6757aa976ede866c8b4b827f85572eccc6d0f10410b53d8e022ba4bd6eb685f1608d7ef7b6

test:
  secret_key_base: 24151047c11b1419d0b8f188ba9c27d27ee13617a19f72ea6bf6541e46d58ca549602b2cdbba150c8ab7c8f250b6837ce807ff1bbc835ff837d54c5b66229bf5

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
